<form id="form-edit-impresora">
    {% csrf_token %}
    <input type="hidden" id="impresora-id" name="id" value="{{ impresora.id }}">

    <div class="row g-3">
        {{ form.asset_id }}
        {{ form.nombre }}
        {{ form.modelo }}
        {{ form.serie }}
        {{ form.asignado_a }}
        {{ form.nivel_tinta }}
        {{ form.ultima_vez_llenado }}
        {{ form.cantidad_impresiones }}
        {{ form.a_color }}
        {{ form.observaciones }}
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-3">Guardar Cambios</button>
</form>
