<form id="form-edit-datashow">
    {% csrf_token %}
    <input type="hidden" id="datashow-id" name="id" value="{{ datashow.id }}">

    <div class="row g-3">
        {{ form.asset_id }}
        {{ form.nombre }}
        {{ form.modelo }}
        {{ form.serie }}
        {{ form.estado }}
        {{ form.cable_corriente }}
        {{ form.hdmi }}
        {{ form.vga }}
        {{ form.extension }}
        {{ form.observaciones }}
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-3">Guardar Cambios</button>
</form>
